<div class="dropdown">
	<button class="btn btn-default dropdown-toggle navbar-btn" type="button" id="dd-btn-download" data-toggle="dropdown">Downloads&nbsp;<span
		class="caret"></span></button>
	<ul class="dropdown-menu navbar-dropdown" role="menu" aria-labelledby="dd-btn-download">
		<li role="presentation"><a role="menuitem" tabindex="-1"
			href="https://github.com/dreamfactorysoftware/android-sdk"
			target="_blank"><i class="fa fa-android"></i>Android SDK</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1"
			href="https://github.com/dreamfactorysoftware/angular-dreamfactory"
			target="_blank"><img style="height: 16px;"
			class="icon-angular"
			src="/img/logo-angularjs.png" />AngularJS</a></li>
		<li role="presentation"><a role="menuitem"
			tabindex="-1"
			href="https://github.com/dreamfactorysoftware/ios-sdk"
			target="_blank"><i class="fa fa-apple"></i>iOS SDK</a>
		</li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="https://github.com/dreamfactorysoftware/javascript-sdk"
			target="_blank"><i class="icon-javascript"></i>Javascript SDK</a>
		</li>
		<li role="presentation"><a role="menuitem" tabindex="-1"
			href="https://github.com/dreamfactorysoftware/titanium-dreamfactory"
			target="_blank"><img class="icon-titanium"
			src="/img/logo-titanium.png" />Titanium</a>
		</li>
		<li role="presentation"><a role="menuitem" tabindex="-1"
			href="https://github.com/dreamfactorysoftware/windows-sdk"
			target="_blank"><i class="fa fa-windows"></i>Windows Phone</a></li>
	</ul>
</div>