<div class="list-group">
	<a class="list-group-item"
		onclick="setCurrentApp('getting_started')"
		id="nav_getting_started"
		href="#/"><i class="fa fa-info-circle"></i>QuickStart</a> <a class="list-group-item"
	onclick="setCurrentApp('applications')"
	id="nav_applications"
	href="#/app"><i class="fa fa-cloud"></i>Apps</a> <a
	class="list-group-item"
	onclick="setCurrentApp('groups')"
	id="nav_groups"
	href="#/group"><i class="fa fa-sitemap"></i>App Groups</a> <a class="list-group-item"
	onclick="setCurrentApp('users')"
	id="nav_users"
	href="#/user"><i class="fa fa-user"></i>Users</a> <a
	class="list-group-item"
	onclick="setCurrentApp('roles')"
	id="nav_roles"
	href="#/role"><i class="fa fa-group"></i>Roles</a> <a class="list-group-item"
	onclick="setCurrentApp('data')"
	id="nav_data"
	href="#/data"><i class="fa fa-database"></i>Data</a> <a class="list-group-item"
	onclick="setCurrentApp('services')"
	id="nav_services"
	href="#/service"><i class="fa fa-exchange"></i>Services</a> <a class="list-group-item"
	onclick="setCurrentApp('schema')"
	id="nav_schema"
	href="#/schema"><i class="fa fa-table"></i>Schema</a> <a class="list-group-item"
	onclick="setCurrentApp('docs')"
	id="nav_docs"
	href="#/api/#swagger"><i class="fa fa-institution"></i>API<span class="divider"></span>SDK</a> <a class="list-group-item"
	onclick="setCurrentApp('package')"
	id="nav_package"
	href="#/package"><i class="fa fa-gift"></i>Packages</a> <a class="list-group-item"
	onclick="setCurrentApp('config')"
	id="nav_config"
	href="#/config"><i class="fa fa-cog"></i>Config</a> <a class="list-group-item"
	onclick="setCurrentApp('scripts')"
	id="nav_scripts"
	href="#/scripts"><i class="fa fa-file-text"></i>Scripts</a>
</div>
