<div class="navbar navbar-default bg-info" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    data-target="#admin-app-apps">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" >Application Import</span>
        </div>

        <div class="collapse navbar-collapse" id="admin-app-apps">
            <div class="nav navbar-nav navbar-right">
                <div class="btn-group btn-group-nav">
                    <div data-ng-include="'_downloads.html'"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.navbar-collapse -->
</div>



<div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Import Application</div>
        <div class="panel-body">
<!--            <div class="alert alert-info">
                <i class="fa fa-fw fa-info-circle"></i>
                Enter a url or browse your local system for an app package.
            </div>
-->

            <form data-ng-submit="submitApp()" class="" >
                <div class="row">
                    <div class="col-lg-6" >
                        <div class="input-group" >
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-ng-click="browseFileSystem()">Browse</button>
                      </span>
                            <input type="text" class="form-control" data-ng-model="appPath"  placeholder="Click sample app, enter url, or browse for app package.">
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>
                <br />

                <div class="row">
                    <div class="col-lg-6" >
                        <div class="form-group">
                            <select class="form-control" data-ng-model="storageService" data-ng-options="obj as obj.name for obj in services" data-ng-disabled="!appPath || uploadFile != null" >
                                <option value="" >-- Select Storage Service --</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6" >
                        <div class="form-group">
                            <select class="form-control" data-ng-model="storageContainer" data-ng-options="obj as obj.name for obj in containers" data-ng-disabled="!appPath || uploadFile != null || !containers.length">
                                <option value="" >-- Select Storage Container--</option>
                            </select>
                        </div>
                    </div>
                </div>

                <input style="display: none" type="file" id="upload" name="upload" data-file-model="uploadFile" />
                <input type="submit" class="btn btn-default" value="Import" />
            </form>
        </div>
    </div>


    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Sample Applications</div>
        <div class="panel-body">
            <p>Dreamfactory provides sample apps to help you get started.  Click one of the sample apps below and select your storage service.  Click 'Import' to install the sample app.  These and other sample apps can be found at
                <a target="_blank" href="https://github.com/dreamfactorysoftware">github/dreamfactorysoftware</a>.</p>
        </div>

        <ul class="list-group">
            <li class="list-group-item" data-ng-repeat="app in sampleApps"><a data-ng-click="loadSampleApp(app)">{{app.name}}</a>
                - {{app.descr}}</li>
        </ul>
    </div>
</div>

