<?php
/**
 * This file is part of the DreamFactory Services Platform(tm) (DSP)
 *
 * DreamFactory Services Platform(tm) <http://github.com/dreamfactorysoftware/dsp-core>
 * Copyright 2012-2014 DreamFactory Software, Inc. <developer-support@dreamfactory.com>
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * local/env.config.php-dist
 * Injects environment variables into the DSP runtime
 *
 * Copy this file to "/config/env.config.php" and add your variables. It will be
 * included and the environment variables set during startup.
 *
 * Format of the array should be as follows:
 *
 *  return array(
 *      'MY_VARIABLE1' => 'my value1',
 *      'MY_VARIABLE2' => 'my value2',
 *      'MY_VARIABLE3' => 'my value3',
 *      'MY_VARIABLE4' => 'my value4',
 *  );
 *
 * Once your app is running, using `getenv('MY_VARIABLE1')` will return "my value1".
 *
 * @return array
 */
return array();