<div class="panel panel-default">
    <div class="panel-heading">
        <a data-toggle="collapse" data-target="#email-templates-body">
            <h4 class="panel-title">Email Templates</h4>
        </a>
    </div>

    <div id="email-templates-body" class="panel-collapse collapse">
        <div class="panel-body">

            <div>
                <p>Create a new email template or modify an existing one.</p>

                <div class="form-group col-xs-6 col-sm-3">
                    <select class="form-control"
                            data-ng-model="selectedEmailTemplateId"
                            data-ng-options="email.id as email.name for email in emailTemplates.record | filter: emailTemplatesFilter">
                        <option value="">- - Select a template - -</option>
                    </select>

                 </div>
                <div class="form-group col-xs-6 col-sm-3">
                    <input class="form-control col-xs-3" data-ng-model="emailTemplatesFilter" type="text" placeholder="Filter By Name"/>
                </div>


                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default" data-ng-click="newEmailTemplate()">New</button>
                    <button type="button" class="btn btn-default" data-ng-click="saveEmailTemplate(getSelectedEmailTemplate)">Save</button>
                    <button type="button" class="btn btn-default" data-ng-click="duplicateEmailTemplate()">Duplicate</button>
                    <button type="button" class="btn btn-default" data-ng-click="deleteEmailTemplate(getSelectedEmailTemplate.id)">
                        Delete
                    </button>
                </div>
                <br/>
                <br/>

                <div class="row">
                    <div class="col-xs-12" >
                        <form novalidate>
                            <div class="tabbable tabs-left">
                                <ul class="nav nav-tabs" style="margin-right: 0">
                                    <li data-ng-class="templateInfo={true: 'active', false: ''}[currentCreateEmailTab=='template-info-pane']">
                                        <a href="javascript:void(0)" data-ng-click="showCreateEmailTab('template-info-pane')"
                                           data-toggle="tab">Template Info</a></li>
                                    <li data-ng-class="templateTo={true: 'active', false: ''}[currentCreateEmailTab=='template-to-pane']"><a
                                            href="javascript:void(0)" data-ng-click="showCreateEmailTab('template-to-pane')"
                                            data-toggle="tab">Template To</a></li>
                                    <li data-ng-class="templateBody={true: 'active', false: ''}[currentCreateEmailTab=='template-body-pane']">
                                        <a href="javascript:void(0)" data-ng-click="showCreateEmailTab('template-body-pane')"
                                           data-toggle="tab">Template Body</a></li>
                                    <li data-ng-class="templateReply={true: 'active', false: ''}[currentCreateEmailTab=='template-reply-pane']">
                                        <a href="javascript:void(0)" data-ng-click="showCreateEmailTab('template-reply-pane')"
                                           data-toggle="tab">Template From</a></li>
                                </ul>
                                <div class="tab-content" style="margin-top: 20px">
                                    <div class="tab-pane" data-ng-class="templateInfo" id="template-info-pane">
                                        <div>
                                            <div class="form-group">
                                                <label for="template-name">Template Name:</label>
                                                <input type="text"
                                                       class="form-control"
                                                       name="template-name"
                                                       id="template-name"
                                                       data-ng-model="getSelectedEmailTemplate.name"
                                                       placeholder="Required"
                                                       >
                                            </div>

                                            <div class="form-group">
                                                <label for="template-description">Template Description:</label>
                                                <input
                                                        name="template-description"
                                                        class="form-control"
                                                        id="template-description"
                                                        data-ng-model="getSelectedEmailTemplate.description" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" data-ng-class="templateTo" id="template-to-pane">
                                        <div>
                                            <div class="form-group">
                                                <label for="template-to">To:</label>
                                                <input type="text"
                                                       name="template-to"
                                                       id="template-to"
                                                       class="form-control"
                                                       data-ng-model="getSelectedEmailTemplate.to">
                                            </div>

                                            <div class="form-group">
                                                <label for="template-cc">CC:</label>
                                                <input type="text"
                                                       name="template-cc"
                                                       id="template-cc"
                                                       class="form-control"
                                                       data-ng-model="getSelectedEmailTemplate.cc">
                                            </div>

                                            <div class="form-group">
                                                <label for="template-bcc">BCC:</label>
                                                <input type="text"
                                                       name="template-bcc"
                                                       id="template-bcc"
                                                       class="form-control"
                                                       data-ng-model="getSelectedEmailTemplate.bcc">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" data-ng-class="templateBody" id="template-body-pane">
                                        <div>
                                            <div class="form-group">
                                                <label for="template-subject">Subject:</label>
                                                <input style="width: 80%"
                                                       type="text"
                                                       name="template-subject"
                                                       id="template-subject"
                                                       size="120"
                                                       class="form-control"
                                                       data-ng-model="getSelectedEmailTemplate.subject">
                                            </div>
                                            <div class="form-group">
                                            <label for="template-body-html">Body:</label>
                                                <textarea style="width: 80%; resize: none"
                                                          rows="5"
                                                          cols="250"
                                                          name="template-body-html"
                                                          id="template-body-html"
                                                          class="form-control"
                                                          data-ng-model="getSelectedEmailTemplate.body_html"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" data-ng-class="templateReply" id="template-reply-pane">
                                        <div>
                                            <div>

                                                <div class="form-group">
                                                    <label for="template-from-name">From Name:</label>
                                                    <input type="text"
                                                           name="template-from-name"
                                                           id="template-from-name"
                                                           class="form-control"
                                                           data-ng-model="getSelectedEmailTemplate.from_name">
                                                </div>

                                                <div class="form-group">
                                                    <label for="template-from-email">From Email:</label>
                                                    <input type="text"
                                                           name="template-from-email"
                                                           id="template-from-email"
                                                           class="form-control"
                                                           data-ng-model="getSelectedEmailTemplate.from_email">
                                                </div>
                                            </div>
                                            <div >

                                                <div class="form-group">
                                                    <label for="template-reply-to-name">Reply To Name:</label>
                                                    <input type="text"
                                                           name="template-reply-to-name"
                                                           id="template-reply-to-name"
                                                           class="form-control"
                                                           data-ng-model="getSelectedEmailTemplate.reply_to_name">
                                                </div>

                                                <div class="form-group">
                                                    <label for="template-reply-to-email">Reply To Email:</label>
                                                    <input type="text"
                                                           name="template-reply-to-email"
                                                           id="template-reply-to-email"
                                                           class="form-control"
                                                           data-ng-model="getSelectedEmailTemplate.reply_to_email">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>