<div data-ng-show="active" class="tab-pane active" id="sdk-pane">
	<div class="btn-toolbar" style="margin-left:10px" role="toolbar">
		<div class="btn-group">
			<a class="btn btn-small" href="https://github.com/dreamfactorysoftware/javascript-sdk" target="df-new"><i class="fa fa-download"></i>JavaScript SDK</a>
			<a class="btn btn-small" href="https://github.com/dreamfactorysoftware/ios-sdk" target="df-new"><i class="fa fa-download"></i>iOS SDK</a> <a
			class="btn btn-small" href="https://github.com/dreamfactorysoftware/android-sdk" target="df-new"><i class="fa fa-download"></i>Android SDK</a>
		</div>
	</div>

	<div id="docs">
		<iframe seamless="seamless" id="docsFrame" src="{{iframeUrl}}" width="100%"></iframe>
	</div>
</div>
