.idea/
/vendor
/log
/storage/
!/storage/.private
composer.phar
manifest.yml
build/
scripts/log
web/assets/*
web/apps/
web/pbox
web/portal-sandbox
web/dreamfactory
!web/static/
config/database.config.php
config/env.config.php
config/memcached.config.php
config/memcached.config.php.off
config/keys.config.php
config/salt.config.php
config/databases/dreamfactory.sql.gz
tests/config/memcached.config.php
tests/config/database.config.php
tests/config/env.config.php
tests/config/keys.config.php
tests/config/salt.config.php
docs/
