<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
        <rules>
            <rule name="Rewrite everything to yii handler" stopProcessing="true">
                <conditions>
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                </conditions>
                <match url="^.*$" />
                <action type="Rewrite" url="index.php" />
            </rule>
        </rules>
    </rewrite>
  </system.webServer>
</configuration>